caption {
    color: dodgerblue;
    font-size: 25px;
}

table {
    background: rgb(245, 233, 204);
}

td {
    color: dodgerblue;
}

fieldset {
    border: 1px solid brown;
    width: 262px;
    height: 45px;
}

legend, #suc {
    color: rgb(202, 89, 44);
}

#in {
    width: 50px;
}

#suc {
    text-align: center;
}

button {
    margin-left: 110px;
}