table, tr, td {
    border: 1px solid tomato;
    border-collapse: collapse;
}

#td1 {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    color: red;
    background: palevioletred;
}

#td2 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background: chocolate;
    color: crimson;
}

img {
    width: 150px;
    height: 130px;
}

#l1 {
    list-style-type: circle;
    color: red;
}

#l2 {
    list-style-type: decimal;
}